<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/global.css">
    <title>Stram. | {% block title %} {% endblock %}</title>
  </head>
  <body>
    <style>
      .postimages{
        width: 350px;
        height: 350px;
        object-fit: contain;
      }
      .images{
        display: grid;
        grid-template-columns: 200px, 200px;
        justify-content: center;
      }
  a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
      
    </style>
    <div class="navigationbar">
      <a href="/">Home</a>
      <a href="/profile">Profile</a>
      <a href="/upload">Upload</a>
      <a href="/settings">Settings</a>
      <a href="/TOS">TOS</a>
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/logout">Logout</a>
    </div>
    <div class="main">
      {% block content %} {% endblock %}
    </div>
    <br>
    <br>
      
      <script src="\static\js\index.js"></script>
    <script>
      
    </script>
  </body>
</html>