{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<head>
  <link rel="stylesheet" href="/static/css/userhome.css">
</head>    
<style>
 @media (min-width: 0) {
	 .card-deck .card {
		 flex: 0 0 calc(100% - 30px);
	}
}
 @media (min-width: 576px) {
	 .card-deck .card {
		 flex: 0 0 calc(50% - 30px);
	}
}
 @media (min-width: 768px) {
	 .card-deck .card {
		 flex: 0 0 calc(33.3333333333% - 30px);
	}
}
 @media (min-width: 992px) {
	 .card-deck .card {
		 flex: 0 0 calc(25% - 30px);
	}
}
 @media (min-width: 1200px) {
	 .card-deck .card {
		 flex: 0 0 calc(20% - 30px);
	}
}
 
</style>
<center>
  <h1>Stream.</h1>
  <h2>Share Your Memories,<br>Not Your Data</h2>
  <hr>
  <h3 class="mt-5">
    Latest Posts
  </h3>
</center>
  <div class="mt-5 container card-deck">
    {% for post in posts %}
    <a href="/post/{{post['_id']}}">
    <div class="card my-3">
			<div class="card-body">
				<h4 class="card-title">{{post['text']}}</h4>
				<p class="card-text">By: {{post['name']}} <br>On: {{post['date']}}, {{post['time']}}</p>
			</div>
		</div>
  </a>
    {% endfor %}
  </div>
</div>
<script>
  function deletepost(post){

  }
</script>
{% endblock %}
